__pycache__
.*.sw?
tags
*.pyc
make-*
make/*
src/*
!src/gits
!src/grd
!src/osmo-add-gerrit-hooks.sh
!src/README
net/*
!net/templates*
!net/config_2g3g
!net/README
!net/fill_config.py
ttcn3/3G+2G_ttcn3.deps
ttcn3/ccache/
ttcn3/out/
ttcn3/make/
ttcn3/.run.sh
ttcn3/usr_local
ttcn3/var_local
current_log
lastlog
autolog
*.db
*.db-shm
*.db-wal
# log file created by udtrace
virt-nitb/osmo-msc.log
virt-nitb/*.pcapng
